form.feedback.pure-form.pure-form-aligned
    fieldset
        .feedback__username
        .feedback__comment
        .pure-controls
            button.feedback__send.pure-button.pure-button-primary Submit